
@font-face {
    font-family: My font regular;
    src: url(fonts/barlow/Barlow-Regular.otf);

}

@font-face {
    font-family: My font medium;
    src: url(fonts/barlow/Barlow-Medium.otf);
}

@font-face {
    font-family: My font bold;
    src: url(fonts/barlow/Barlow-Bold.otf);
    font-weight: bold;
}




main {
  
    max-height: 1000px;
    display: flex;
    background-color: whitesmoke;
    padding: 50px 200px;
}

.left {
    width: 50%;
}

.left-logo {
    width: 180px;
    height: 35px;
    position: absolute;
    margin-top: -965px;
    padding-left: 25px;
}

.right {
width: 50%;
background-color: white;
padding: 100px 110px;

}

h1 {
  font-family: My font medium;
}


h2 {
  font-family: My font medium;  
  padding-top: 25px;

}

p {
  font-family: My font regular;
  font-size: 14px;  
  
}





.custom-button1 {
    width: 250px;
    height: 45px;
    background-color: rgb(15, 55, 115);
    color: white;
  

}


.custom-button2 {
    width: 250px;
    height: 45px;
    background-color: rgb(26, 93, 151);
    color: white;
  
}


.logo-facebook {
    width: 25px;
    height: 15px;
    color: white;
}

.logo-linkedin {
    width: 25px;
    height: 15px;
    color: white;
}


.subtitle {
font-family: My font regular;

}

.divider {
 display: flex;
 text-align: center;
 align-items: center;
 margin: 20px 0;
 color: black;
 font-family: My font medium;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ddd;
}


.divider::before {
    margin-right: 1em;
}

.divider::after {
    margin-left: 1em;
}

.registration {
    text-align: center;
    display: flex;
    gap: 20px;
}


.social-media {
    display: flex;
    gap: 20px;
    text-align: center;
   
    
}





#Email {
    width: 245px;
    height: 45px;
   
   
    
}


#Phone {
    width: 245px;
    height: 45px;

}

.radio-group {
    display: flex;
    gap: 55px;
    position: relative;
    margin-top: 90px;
    font-family: My font medium;
  
}


.tooltip {

display: none;
top: 50px; 
border-radius: 5px;
background-color: whitesmoke;

position: absolute;
width: 270px;
height: 70px;
font-size: 16px;
font-family: My font regular;
pointer-events: none;
z-index: 10;



}


.radio-group:hover .tooltip {
    display: block;
}





.Terms {
padding-top: 165px;
font-family: My font regular;
font-size: 14px;

}


#Create-account {
    width: 250px;
    height: 45px;
    margin-top: 50px;
    color: white;
    background-color: #3698FB;
}


