    

    @font-face {
    font-family: Barlow;
    src: url(fonts/barlow/Barlow-Regular.otf) format('opentype');
    font-weight: 400;
     font-style: normal; 
     font-display: swap; 
    } 
    
    
    
    @font-face {
    font-family: Barlow;
    src: url(fonts/barlow/Barlow-Medium.otf) format('opentype');
    font-weight: 500;
     font-style: normal; 
     font-display: swap; 
    } 



    @font-face {
    font-family: Barlow;
    src: url(fonts/barlow/Barlow-Bold.otf) format('opentype');
    font-weight: 700;
     font-style: normal; 
     font-display: swap; 
    } 




main {
    display: flex;
    max-width: 1500px;
    max-height: 1000px;
    margin-left: 200px;
    margin-top: 60px;
 
}


.left-block {
    width: 50%;
    overflow: hidden;
    position: relative;


    
}


.right-block {
    width: 50%;
    background-color: whitesmoke;
  
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    
}

.left-logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 200px;
    height: auto;
}







h1 {
    font-family: Barlow;
    font-weight: 700;
    padding-top: 70px;
    padding-left: 90px;
}


.subtitle {
    font-family: Barlow;
    font-weight: 400;
    padding-left: 90px;
}

.social-media {
    display: flex;
    padding-left: 90px;
    gap: 40px;
    padding-top: 40px; 
    font-family: Barlow;
    font-weight: 500; 
}





.custom-button1 {
    width: 265px;
    height: 45px;
    background-color: #255A9B;  
    color:white;     
}

.custom-button2 {
    width: 265px;
    height: 45px;
    background-color: #0076B6;
    color: white;

}

.logo-facebook {
    width: 18px;
    height: 18px;
    color: white;
    margin-right: 15px;
}

.logo-linkedin {
    width: 18px;
    height: 18px;
    color: white;
    margin-right:15px;
}


.divider {
font-family: Barlow;
font-weight: 500;
 display: flex;
 text-align: center;
 align-items: center;
 margin: 20px 0;
 color: black;

}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ddd;
}


.divider::before {
    margin-right: 1em;
}

.divider::after {
    margin-left: 1em;
}


.registration { 
    display: flex;
    padding-left: 90px;
    gap: 42px;  
   
}




    #Email, #Phone {
    font-family: Barlow;
    font-weight: 500;
    width: 255px;
    height: 40px;
    margin-bottom: 15px;
    background-color: whitesmoke;
    outline: none;
    border: 1px solid lightgray;
    border-left: #0076B6 2px solid;

    
    

}



input::placeholder {
    padding-bottom: 40px;
    font-family: Barlow;
    font-weight: 400;
    color: gray;
}

    
    

    





    


h2 {
    font-family: Barlow;
    font-weight: 500;
    padding-left: 90px;
    margin-top: 40px;
}

.investor-type {
    font-family: Barlow;
    font-weight: 500;
    padding-left: 90px;
    margin-top: 10px;
}


.radio-group {
    padding-left: 90px;
    display: flex;
    gap: 55px;
    position: relative;
    margin-top: 75px;
    font-family: Barlow;
    font-weight: 400;
  
}


.tooltip {

display: none;
top: 40px; 
border-radius: 5px;
background-color: white;

position: absolute;
width: 270px;
height: 70px;
font-size: 16px;
font-family: Barlow;
font-weight: 400;
pointer-events: none;
z-index: 10;



}


.radio-group:hover .tooltip {
    display: block;
}

p {
    font-family: Barlow;
    font-weight: 400;
}

.Terms {
    font-family: Barlow;
    font-weight: 400;
    padding-left: 90px;
    margin-top: 150px;
    font-size:14px;

}

#Create-Account {
    width: 265px;
    height: 45px;
    background-color: #3698FB; 
    color:white;  
    margin-top: 80px;
    margin-left: 90px;
}


