button {
    background-color: blue;
    color: white;
    width: 260px;
    height: 35px;
    margin-bottom: ;

    


    
}   

h1 {
    margin-left: 700px;
    margin-top: 120px;
}


p {
    margin-left: 700px;
    margin-bottom: 
}

h2 {
    margin-left: 700px;
    margin-top: 35px;
    
}


.buttons {
    margin-left: 700px;  
    margin-top: -570px;
    width: 200px;
    height: 65px;



}


.submit-button {
    background-color: blue;
    color: white;
    margin-left: 700px;
    margin-top: 45px;
    width: 220px;
    height: 30px;
}


.investor-types {
    margin-left: 700px;
    margin-top: 50px;
}

.divider-container
    margin-left: 700px;
}


.line {

   
    
}

.or-text {
    margin-left: 837px;
}

#email {
    margin-left: 700px;
    width: 200px;
    height: 30px;
}
#password {
    margin-left: 0px;
    width: 200px;
    height: 30px;

}


img {    
    width: 600px;
    height: 850px;
    margin-top: -206px;


}

hr {
    margin-left: 25px;
    margin-bottom: ;
    width: px;

}

#terms {
    margin-top: 100px;
    

}


    

    
    



